@import "@css/variables.scss";

.sortItem {
  border: 0;
  padding: 0 35px 0 0;
  font-weight: 500;
  background-color: transparent;
  color: white;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  &.active {
    &::after {
      content: "\e907";
      @include icon;
      font-size: 16px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  & + .sortItem {
    margin-left: 20px;
  }
}
