@import "@css/variables.scss";

.jumbotron {
  background-color: var(--componentColor);
  .jumbotronBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .jumbotronTitleBlock {
      margin-left: 60px;
      flex: 1;
      z-index: 2;
      .margin {
        margin-top: 30px;
      }
    }
  }
}
